a {
    text-transform: uppercase;
    padding: 20px;
}
h1{
    font-family: Verdana;
    color: black;
    margin-top: 2%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
main h2{    
    margin-top: 10px;    
    color: #894f3b;
    border-left: 3px dotted #894f3b;
    font-variant-caps: small-caps;
    padding: 5px 15px;
}
p {
    text-align: justify;
}
h3{    
    font-weight: bold;
    color: #894f3b;
    text-align: center;
    letter-spacing: 1px;
    font-size: 130%;
}
h2 a {
    text-decoration: none;
    color: #894f3b;
}
h2 a:hover {
    color: #894f3b;
}
li{
    list-style-image: url(../img/lemon2.png);
    margin-left: 40px;
    float: left;
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
    text-transform: uppercase;
}
.flexbox {
    background: url('https://wallpapercave.com/wp/wp1896400.jpg');
    min-height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#airforce .flexbox {
    background-image: url('img/airforce_background.jpg');
}
#dunk .flexbox {
    background-image: url('img/dunk_background.jpg');
}
.tartalom {
    max-width: 40%;
    color: white;
    background-color: rgba(0, 0, 0, .35);
    padding: 1.3rem;
    border-radius: 10px;
}
.tartalom h2 {
    text-align: center;
    font-size: 2rem;
}
.tartalom p {
    font-size: 1.1rem;
}
.vasarlas .ar .button_ar {
    background: none;
    outline: none;
    border: none;
}
.vasarlas .logo .button_logo {
    color: black;
    padding: 0px;
    height: 100%;
}
.vasarlas .ar .button_ar a {
    color: black;
    text-decoration: none;
    padding: 0px;
}
.vasarlas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.material-symbols-outlined {
    max-height: 100%;
}
.collapse.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collapse.navbar-collapse .shopping_cart .button_logo  {
    color: black;
    padding: 0px;
}
.row {
    margin-top: 50px;
}