a {
    text-transform: uppercase;
    padding: 20px;
}
h1{
    font-family: Verdana;
    color: black;
    margin-top: 2%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
main h2{    
    margin-top: 10px;    
    color: #416618;
    border-left: 3px dotted #416618;
    font-variant-caps: small-caps;
    padding: 5px 15px;
}
p {
    text-align: justify;
}
h3{    
    font-weight: bold;
    color: #894f3b;
    text-align: center;
    letter-spacing: 1px;
    font-size: 130%;
}
li{
    list-style-image: url(../img/lemon2.png);
    margin-left: 40px;
    float: left;
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
    text-transform: uppercase;
}
.flexbox {
    background: url('https://wallpapercave.com/wp/wp1896400.jpg');
    min-height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tartalom {
    max-width: 35%;
}
.tartalom h2 {
    text-align: center;
    font-size: 2rem;
}
.tartalom p {
    font-size: 1.1rem;
}