a {
    padding: 20px;
}
.navbar {
    background-color: white;
    font-weight: bold;
}
h1{
    font-family: Verdana;
    color: black;
    margin-top: 2%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
main h2{    
    margin-top: 10px;    
    color: #894f3b;
    border-left: 3px dotted #894f3b;
    font-variant-caps: small-caps;
    padding: 5px 15px;
}
p {
    text-align: justify;
    text-indent: 15px;
}
h3{    
    font-weight: bold;
    color: #894f3b;
    text-align: center;
    letter-spacing: 1px;
    font-size: 130%;
}
h2 a {
    text-decoration: none;
    color: #894f3b;
}
h2 a:hover {
    color: #894f3b;
}
li{
    margin-left: 40px;
    float: left;
}


td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;    
    text-transform: uppercase;
}
.flexbox {
    background: url('img/airforce_background.jpg');
    min-height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#airforce .flexbox {
    background-image: url('img/airforce_background.jpg');
}
#dunk .flexbox {
    background-image: url('img/airforce_background.jpg');
}
.tartalom {
    max-width: 40%;
    color: white;
    background-color: rgba(0, 0, 0, .35);
    padding: 1.3rem;
    border-radius: 10px;
    font-family: Verdana;
}
.tartalom h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #894f3b;
}
.tartalom p {
    font-size: 1rem;
}
.vasarlas .ar .button_ar {
    background: none;
    outline: none;
    border: none;
}
.vasarlas .logo .button_logo {
    color: black;
    padding: 0px;
    height: 100%;
}
.vasarlas .ar .button_ar a {
    color: black;
    text-decoration: none;
    padding: 0px;
}
.vasarlas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.material-symbols-outlined {
    max-height: 100%;
}
.collapse.navbar-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.collapse.navbar-collapse .shopping_cart .button_logo  {
    color: black;
    padding: 0px;
}
.row {
    margin-top: 50px;
}
.shopping-cart a {
    color: black;
    height: 100%;
    display: block;
    text-decoration: none;
}
.shopping-cart span {
    height: 100%;
    display: block;
}
#burger {
    display: none;
}


@media only screen and (max-width: 992px) {
    #burger {
        display: flex;
    }

    #menu {
        display: none;
    }
}

.shopping_cart{
    position: absolute;
    top: 15px;
    right: 12px;
}
.shopping-cart button {
    padding: 0px;
    outline: none;
    margin: 0px;
    border: none;
    background: none;
}
.data-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    background-color: yellow;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(228, 228, 228, 0);
}
.data-section-al {
    padding: 5px;
    min-width: 50%;
}
#data-page {
    background-color: rgba(228, 228, 228, 0.6);
}
.sorvegeig {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 40px;
    font-size: 11px;
}
.flllex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    margin-right: 0px;
}
.flllex >* {
    width: 50%;
    height: 40px;
    padding-left: 10px;
    font-size: 13px;
}
input[type="button"] {
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-radius: 5px;
    font-size: 13px;
    transition: .6s ease-in-out;
}
input[type="button"]:hover {
    color: black;
    background-color: rgba(131, 131, 131, 0.9);
}